version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: smartretails-mysql
    environment:
      MYSQL_DATABASE: products_db
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: vinod_mudavath
      MYSQL_PASSWORD: Mangi@143
      MYSQL_ROOT_HOST: "%"
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-ppassword"]
      interval: 10s
      timeout: 5s
      retries: 10

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: smartretails-backend
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SERVER_PORT: 8080
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/products_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: vinod_mudavath
      SPRING_DATASOURCE_PASSWORD: Mangi@143
      JWT_SECRET: change_this_to_a_long_random_secret_string_at_least_32_chars
      SPRING_JPA_SHOW_SQL: "false"
    # Optional memory settings
    # deploy:
    #   resources:
    #     limits:
    #       memory: 512M

volumes:
  db_data:
